{
    "extends": [
        "react-app",
        "react-app/jest",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "jest/no-conditional-expect":"off"
    },
    "ignorePatterns":["src/common/gql/*"]
}