$tab-height: 48px;
.opt-sidebar-wrapper {
	height: 100%;
	box-sizing: border-box;
	padding-top: var(--space-900);
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	.opt-sidebar {
		padding: 0 var(--space-600);
		box-sizing: border-box;
		height: 100%;
		border-right: solid 1px var(--color-delimeter);
		.title {
			font-size: 25px;
			margin-bottom: var(--space-600);
			font-weight: var(--font-weight-bold);
		}
		.menu-list {
			border-right: none !important;
			.ant-menu-item {
				margin-left: 0;
				height: $tab-height;
				line-height: $tab-height;
				padding-right: var(--space-900);
				width: auto;
			}
		}
	}
}
