.edit-profile {
    display: flex;
    flex-direction: column;
    .avatar-section {
        padding: var(--space-400);
        margin: var(--space-400) 0;
        background-color: var(--color-highlight-background);
        border-radius: var(--rounding-500);
        display: flex;
        align-items: center;
        .info {
            flex-grow: 1;
            padding: 0 var(--space-400);
            display: flex;
            flex-direction: column;
        }
    }
}