@use "/src/common/styles/variables.scss";
.chatroom {
	height: 100%;
	width: 100%;
	display: flex;
	.contact-list-wrapper {
		width: 300px;
		// height: 100%;
		border-right: solid 1px var(--color-delimeter);
		padding: 10px 0;
		box-sizing: border-box;
		flex-shrink: 0;
		@media screen and (max-width: variables.$responsive-stage2) {
			width: auto;
			padding-top: 0;
		}
	}
	.message-area {
		position: relative;
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
		flex-direction: column;
	}
}
