@use "/src/common/styles/variables.scss";
$avatar-width: 56px;
$list-left-padding: 10px;
.contact-list {
	width: 100%;
	position: relative;
	height: 100%;
	.title {
		padding-bottom: 20px;
		padding-left: $list-left-padding;
		@media screen and (max-width: variables.$responsive-stage2) {
			display: none;
		}
	}
	ul {
		list-style: none;
		.contact-item {
			box-sizing: border-box;
			width: 100%;
			padding: 10px $list-left-padding;
			cursor: pointer;
			display: flex;
			&.selected {
				background-color: var(--color-highlight-background);
			}
			&:hover:not(.selected) {
				background-color: var(--color-secondary-background);
			}
			.avatar {
				display: block;
				width: $avatar-width;
				height: $avatar-width;
				display: inline-block;
				border-radius: $avatar-width;
				margin-right: 12px;
			}
			.item-info {
				@media screen and (max-width: variables.$responsive-stage2) {
					display: none;
				}
				flex: 1;
				padding: 7px 0;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				max-width: calc(100%  - $avatar-width);
				.name {
					font-size: 14px;
				}
				.chat-content {
					font-size: 12px;
					color: var(--color-text-secondary);
					max-width: 100%;
					text-overflow: ellipsis;
					span {
						vertical-align: middle;
						display: inline-block;
						// line-height: 1;
					}
					.last-note {
						max-width: 80%;
						// overflow-y: hidden;
						// text-wrap: nowrap;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow-x: hidden;
					}
				}
				.devider {
					margin: 0 4px;
				}
			}
		}
	}
}
