.options {
	display: flex;
	flex-grow: 1;
	.content-wrapper {
		flex-grow: 1;
        height: 100%;
        overflow-y: scroll;
		.content {
			padding-top: var(--space-900);
			box-sizing: border-box;
			max-width: 706px;
			margin: 0 auto;
			.content-title {
				font-size: var(--font-size-400);
				margin-bottom: var(--space-600);
				font-weight: var(--font-weight-bold);
			}
		}
	}
}
