.options {
    display: flex;
    flex-grow: 1;
    .content {
        flex-grow: 1;
        padding-top: var(--space-900);
        max-width: 706px;
        margin: 0 auto;
        .content-title {
            font-size: var(--font-size-400);
            margin-bottom: var(--space-600);
            font-weight: var(--font-weight-bold);
        }
    }
}