$item-height: 24px;
.sidebar {
	@media screen and (max-width: 900px) {
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: white;
		z-index: 100;
        border-top: solid 1px var(--color-delimeter);
		.sideMenu {
			height: auto;
			display: flex;
			.ant-menu-item {
                box-sizing: content-box;
				text-align: center;
                flex-grow: 1;
				height: $item-height;
                line-height: $item-height;
                padding: 12px;
                .ant-menu-item-icon {
					font-size: $item-height;
					transition-duration: 0.5s;
				}
				&.ant-menu-item-selected {
					background-color: transparent;
				}
				&:hover {
					background-color: rgba(0, 0, 0, 0.06);
					.ant-menu-item-icon {
						transform: scale(105%);
					}
				}
			}
		}
	}
	@media screen and (min-width: 900px) {
		border-right: solid 1px var(--color-delimeter);
		padding: 8px 12px 20px;
		.sideMenu {
			height: 100%;
			border: none !important;
			.ant-menu-item {
				box-sizing: content-box;
				text-align: center;
				width: $item-height;
				height: $item-height;
				line-height: $item-height;
				margin-bottom: 20px;
				padding: 12px;
				.ant-menu-title-content {
					margin-inline-start: 0;
				}
				.ant-menu-item-icon {
					font-size: $item-height;
					transition-duration: 0.5s;
				}
				&.ant-menu-item-selected {
					background-color: transparent;
				}
				&:hover {
					background-color: rgba(0, 0, 0, 0.06);
					.ant-menu-item-icon {
						transform: scale(105%);
					}
				}
			}
		}
	}
}
